In [1]:
import numpy as np
import pandas as pd
from math import factorial

In [ ]:
# Örneğin, bir sınava ait sonuç seti 10, 8, 10, 8, 8 ve 4 olsun.
    # 1-) Aritmetik ortalama: 
    # 10+8+10+8+8+4 = 48
    # 48/6=8 8 aritmetik ortalamadır. 6 adet sayı olduğu için 6 ya böldük.
    # python da mean() ile hesaplanır.
    
    # 2-) Varyansı Bulma : 
    # aritmetik ortalama = 8 tüm sayılardan 8 'i teker teker çıkaracağız. 
    #ilk önce: 10-8, 8-8, 10-8, 8-8, 8-8, 4-8,
    # sonrasında sonuçların karelerini al ve alınan karelerin toplamını kaç adet sayı varsa onun 1 eksiğine bölerek varyansı buluruz.
    # 2**2 + 0**2 + 2**2 + 0**2 + 0**2 + -4**2 = 24. 6 adet sayı var. 6-1=5. 24/5 = 4,8 varyans değerdir.
    # pythonda var() ile hesaplanır.
    
    # 3-) Standart sapma hesaplama : 
    # varyans değerin karekökü standart sapmayı verir.
    # 4.8 in karekökü 2.19 dur. Standat sapma 2.19 dur.
    # pythonda std() ile hesaplanır.

In [3]:
# Örneklem Modelleme :

In [2]:
# Elimizde bir ana veri olsun. Biz bu ana veriden örneklem çekelim.

In [2]:
# aynı değerler gelmemesi için seed() fonksiyonunu kullanalım.
populasyon=np.random.randint(10,80,size=100000)

In [3]:
np.random.seed(115)
# seed koymamızın sebebi her seferinde farklı örneklem çekmesi için.

In [4]:
orneklem1=np.random.choice(a=populasyon, size=100)
orneklem1.mean()

45.67

In [5]:
populasyon.mean()

44.36181

In [ ]:
# orneklem1 ve populasyon arasında 0.8605499999999964 değerlik bir fark var.

In [8]:
44.46055-43.6

0.8605499999999964

In [13]:
orneklem1=np.random.choice(a=populasyon, size=100)
orneklem2=np.random.choice(a=populasyon, size=100)
orneklem3=np.random.choice(a=populasyon, size=100)
orneklem4=np.random.choice(a=populasyon, size=100)
orneklem5=np.random.choice(a=populasyon, size=100)
orneklem6=np.random.choice(a=populasyon, size=100)
orneklem7=np.random.choice(a=populasyon, size=100)
orneklem8=np.random.choice(a=populasyon, size=100)
orneklem9=np.random.choice(a=populasyon, size=100)
orneklem10=np.random.choice(a=populasyon, size=100)

In [14]:
(orneklem1.mean()+ orneklem2.mean()+orneklem3.mean()+orneklem4.mean()+orneklem5.mean()+orneklem6.mean()+orneklem7.mean()+
orneklem8.mean()+orneklem9.mean()+orneklem10.mean())/10

43.772

In [11]:
populasyon.mean()

44.46055

In [15]:
44.46055-43.772
# örneklem sayısı arttıkça ana veri oranı ile örneklem verilerinin oranları birbirlerine yaklaşırlar.

0.6885499999999993

In [16]:
# Betimsel İstatistikler:

In [17]:
# a) kovaryans iki değişken arasında ki ilişkinin değişkenlik ölçüsüdür. iki değişkenini arasındaki değişen ilişkiye bakar.
# beraber değişimlerini inceler.
# kovaryans değeri 0 ise bu değişkenler arasında ilişki yoktur.
# cov > 0 ise ilişki pozitif yönlüdür.
# cov<0 ise ilişki negatif yönlüdür.

In [19]:
# Örnek Kovaryans uygulaması :

In [24]:
df=pd.DataFrame(np.random.randint(2,30,size=(5,2)), columns=["deg1","deg2"])
df

   deg1  deg2
0     4    21
1    29    29
2     2    16
3    29    26
4    29     5

In [22]:
# kovaryans nasıl hesaplanır :

In [30]:
# deg1 ortalaması alınır.
df["deg1"].mean()

18.6

In [31]:
# deg2 ortalaması alınır.
df["deg2"].mean()

19.4

 deg1 deki tüm değerlerden ortalamayı teker teker çıkaracağız.
df["deg1"]
4-18.6
29-18.6
2-18.6
29-18.6
29-18.6

In [58]:
a=df["deg1"]-(df["deg1"].mean())
a

0   -14.6
1    10.4
2   -16.6
3    10.4
4    10.4
Name: deg1, dtype: float64

 deg2 deki tüm değerlerden ortalamayı teker teker çıkaracağız.
df["deg1"]
4-18.6
29-18.6
2-18.6
29-18.6
29-18.6

In [61]:
b=df["deg2"]-(df["deg2"].mean())
b

0     1.6
1     9.6
2    -3.4
3     6.6
4   -14.4
Name: deg2, dtype: float64

In [62]:
# sonrasında index sırasına göre çarpalım.
c=a*b
c

0    -23.36
1     99.84
2     56.44
3     68.64
4   -149.76
Name: deg2, dtype: float64

In [86]:
# bunu yaptıktan sonra c nin toplamını alıp 5 eleman olduğu için 5 e bölelim
kovaryans=(c.sum())/5

In [87]:
kovaryans
# bu değişkenler arasında aynı yönde bir ilişki var.
# kovaryans değeri :

10.359999999999996

In [ ]:
# korelasyon katsayısı : iki veya daha fazla değişken arasındaki ilişkinin durumunu inceler.
# örneğin bir öğrencinin o dersi sevmesi onun için o derste başarı elde etmesinde etkilimi.
# korelasyon katsayısı -1,1 değerleri arasında olmalıdır.
# 0-1 arası pozitif korelasyon, -1,0 arası negatif korelasyondur. 0 değeriyse ilşiki yoktur.

In [ ]:
# korelasyon katsayısı nasıl hesaplanır. 
# ilk önce değişkenlerin ortalamaları alınır.

In [ ]:
# yine her bir değerinden ortalamayı çıkaracağız.

In [73]:
x=df["deg1"]-(df["deg1"].mean())
x

0   -14.6
1    10.4
2   -16.6
3    10.4
4    10.4
Name: deg1, dtype: float64

In [74]:
y=df["deg2"]-(df["deg2"].mean())
y

0     1.6
1     9.6
2    -3.4
3     6.6
4   -14.4
Name: deg2, dtype: float64

In [ ]:
# sonrasında her bir değerin karelerini alacağız.

In [75]:
x_kare=x**2
x_kare

0    213.16
1    108.16
2    275.56
3    108.16
4    108.16
Name: deg1, dtype: float64

In [76]:
y_kare=y**2
y_kare

0      2.56
1     92.16
2     11.56
3     43.56
4    207.36
Name: deg2, dtype: float64

In [77]:
# bir de bize bu iki ifadelerin yani kovaryans ta yaptığımız gibi çarpımları lazım.

In [78]:
carpım=x*y
carpım

0    -23.36
1     99.84
2     56.44
3     68.64
4   -149.76
dtype: float64

In [79]:
carpım=carpım.sum()
carpım

51.79999999999998

In [80]:
x_kare=x_kare.sum()
x_kare

813.2

In [81]:
y_kare=y_kare.sum()
y_kare

357.2

In [82]:
# sonrasında carpımı karelerin çarpımlarının kareköklerine böleceğiz.
korelasyon=carpım/((x_kare*y_kare)**0.5)
korelasyon

0.09611149875430443

In [ ]:
# burda değişken tabloları arasında pozitif yönlü bir korelasyon var.

In [2]:
import seaborn as sns

In [89]:
df=sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
# burda ben ödenen ücret ile verilen bahşiş arasındaki ilişkiyi incelemek istiyorum.

In [90]:
df[["total_bill","tip"]].cov()
# 2 si arasında ki kovaryans değeri 8.323502 dir.
# total_bill kovaryans değeri = 79.252939
# tip kovaryans değeri = 1.914455 dir.

            total_bill       tip
total_bill   79.252939  8.323502
tip           8.323502  1.914455

In [94]:
df[["total_bill","tip"]].corr()
# 2 sinin korelasyon kat sayısı 0.675734 dir. aralarında pozitif yönlü bir artış vardır.

            total_bill       tip
total_bill    1.000000  0.675734
tip           0.675734  1.000000

In [110]:
# Güven aralıkları :
# örneğin bir web sitesinde geçirilen sürenin güven aralığı nedir? 
# ilk adım : n= kişi sayısı, ort=ortalama, std=standart sapma.
# z tablo değeri olarak 1.96 alınır.
# güven aralık hesaplaması 1.96-2.57 arasındadır.
# n=100, ort=180, std=40
180+1.96*4
# 187 saniye çıktı.
# çıkan sonuç 172-188 arasında ise %95 lik bir başarı var demektir.

187.84

In [ ]:
# Örnek uygulama : bir ürün ile ilgili olarak bir fiyat belirlenecek. Alıcılara bu ürüne ne kadar ödersiniz diye 
# soruluyor. Bu cevaplara göre bir ürün fiyat skalası belirlenmek isteniyor.

In [6]:
fiyat=np.random.randint(70,100,size=1000)

In [ ]:
# güven aralığını bulmak için %95-%100 lük değer arasını bulmamız gerekmektedir.

In [4]:
import statsmodels.stats.api as sms

In [7]:
sms.DescrStatsW(fiyat).tconfint_mean()
# fiyatların en fazla verildiği değer aralığını getirir.
# insanların %95 i bu aralıkta fiyat veririm demişler.

(83.7641944186918, 84.82180558130821)

In [114]:
# 2. yol:
# aralıktaki değeri görmek istersek : 
fiyat.mean()

84.242

In [115]:
fiyat.std()

8.603571119017962

In [116]:
84.242+1.96*(8.603571119017962/(1000**0.5))

84.77525486264787

 OLASILIK DAĞILIMLARI :

In [8]:
# Binom(Bernoulli Dağılımı) : 
# bir olayda sadece 2 olası sonuç varsa buna Bernoulli deneyi denir.
# bir para atarsınız yazı veya tura gelir. sonucunda 2 tane değer dönebilir.
# eğer ki n defa bernoulli gerçekleştirilirse buna binom dağılımı denir.

In [10]:
# soru : Bir para 7 kez atılıyor. 3 kez yazı gelme olasılığı nedir?
# bize burda yazı gelme olasılığını sorduğu için başarı durumuna yazı diyelim
yazı=1/2
tura=1/2
# tek atışta yzı gelme olasılığı 1/2 dir.
# tek atışta tura gelme olaslığı 1/2 dir.
# formülü : 7 nin 3 lü kombinasyonu * yazı**3 * tura**(7-3)
((7*6*5)/(3*2*1))*(yazı**3)*(tura**4)

0.2734375

In [13]:
# python ile yapalım :
from scipy.stats import bernoulli
from scipy.stats import binom

In [14]:
# yukarıda ki soruyu yapalım.
p=1/2 # tek seferde yazı gelme olasılığını yazdık. 
n=7 # 7 kere parayı atacağımız için 7 yazdık. 
rv=binom(n,p) # rv değişkeni oluşturup binom fonksiyonu içine adet sayısı ve gelme olasılığını yazdık.
print(rv.pmf(3)) # rv.pmf(3) diyerek 3 kerede kaç kez yazı gelme olasılığı olduğunu hesapladı.

0.27343750000000017

In [15]:
# 10 tane hasta var.

In [16]:
# Bunlardan 2 tanesinin iyileşme olasılığı nedir?
p=1/2
n=10
rv=binom(n,p)
hasta_iki=rv.pmf(2)
hasta_iki

0.04394531249999999

In [17]:
# Bunlardan 6 tanesinin iyileşme olasılığı nedir?
p=1/2
n=10
rv=binom(n,p)
hasta_altı=rv.pmf(6)
hasta_altı

0.20507812500000022

In [20]:
# en fazla 2 tanesinin iyileşme olasılığı nedir?
p=1/2
n=10
rv=binom(n,p)
hasta1=rv.pmf(0)
hasta2=rv.pmf(1)
hasta3=rv.pmf(2)
print(f"Hiç kimsenin iyileşme olasılığı ={hasta1}")
print(f"1 tane hastanın iyileşme olasılığı={hasta2}") 
print(f"2 tane hastanın iyileşme olasılığı={hasta3}")
print(f"en fazla 2 hastanın iyileşme olasılığı = {hasta1+hasta2+hasta3}")

Hiç kimsenin iyileşme olasılığı =0.0009765625
1 tane hastanın iyileşme olasılığı=0.00976562500000001
2 tane hastanın iyileşme olasılığı=0.04394531249999999
en fazla 2 hastanın iyileşme olasılığı = 0.0546875

In [62]:
# en az 3 kişinin iyileşme olasılığı nedir? 
# tamammının iyileşme olasılığından en fazla 2 kişinin iyileşme olasılığını çıkarırsak, en az 3 kişinin iyileşme
# olasılığını buluruz.
# 1 tüm olasılıkların toplamıdır. en az 3 dediği için 1 den en fazla 2 hastanın iyileşme olasılığını çıkarırsak buluruz.
hasta_enaz = 1- hasta1-hasta2-hasta3
print(f"en az 3 hastanın iyileşme olasılığı = {hasta_enaz}")

en az 3 hastanın iyileşme olasılığı = 0.9453125

Poisson Dağılımı :
Gözlem sayısının çok yüksek, gerçekleşme olasılığının çok düşük olduğu olasılık durumlarıdır.
Ör : 10 bin kelimelik bir kitapta hatalı kelime sayısı, kredi kartında yapılan çekim işlemlerinde yaşanan sahtekarlıklar, uçağın rotar sayıları, abd ye ait savaş jetinin düşmesi vb..

 Hatalı ilan girişleri olasılıkları hesaplayalım. 
 1 yıl süresince ölçüm yapılıyor. yapılan girişlerde ortalama hata sayısı 0.1, 
 hiç hata olamaması oranı
 3 hata olması oranı
 5 hata olması oranı

In [40]:
lambda_ort=0.1 # ortalama hata sayısı
e=2.71 # euler sabittir. 2.71 değerindedir.
hata_sayısı= 0 # hiç hata yapmassak.

((0.1**1) * (2.71**-0.1))/factorial(0)
# formülü : ((ortalama** hata sayısı) * (euler** negatif değerde hata oranı)) / istenilen hata sayısının faktöriyeli

0.0905113559096793

In [41]:
lambda_ort=0.1
e=2.71
hata_sayısı=3
((0.1**3) *(2.71**-0.1))/factorial(3)

0.00015085225984946552

In [46]:
lambda_ort=0.1
hata_sayısı=5
e=2.71
((0.1**5)*(2.71**-0.1))/factorial(5)

7.542612992473277e-08

In [47]:
from scipy.stats import poisson

In [48]:
rv= poisson(mu=lambda_ort) # hata oranını yazdık. mu = hata oranı
print(rv.pmf(k=0)) # k= istenilen hata sayısı

0.9048374180359595

In [49]:
rv=poisson(mu=lambda_ort)
print(rv.pmf(k=3))

0.00015080623633932676

In [50]:
rv=poisson(mu=lambda_ort)
print(rv.pmf(k=5))

7.54031181696634e-08

In [51]:
# Örnek : Bir kavşakta 4 aylık sürede yaşanan kaza ortalaması 6 dır.
# a) 4 ayda 7 kez kaza olma olasılığı
# b) 6 ayda 5 kaza olma olasılığı
# c) 1 yılda 2 den fazla kaza olma olasılığı
# d) 8 ayda en çok 2 kaza olma olasılığı

In [52]:
# a)
rv=poisson(mu=6)
print(rv.pmf(k=7))

0.1376769780411257

In [59]:
# b) 
# 4 ay için lambda değeri 6 dır. ama soruda bize 6 ay içinde diyor.
# 4 ayda 6 kere oluyorsa 6 ay da kaç kez olur doğru orantı
lambda_ort=int((6*6)/4)
rv=poisson(mu=lambda_ort)
print(rv.pmf(k=5))

0.06072687934595293

In [63]:
# c)
# 4 ayda kaza ortalaması 6 ise 12 ayda kaçtır doğru orantı
lambda_ort=int((12*6)/4)
# 2 den fazla kaza dediği için tüm 2 den büyük değerler için ayrı ayrı hesap yapamayız. tüm olasılık her zaman 1 dir.
# 1 den en fazla 2 kaza yapma olasılığını çıkarırsak buluruz.
rv1=poisson(mu=lambda_ort)
rv1=rv1.pmf(k=0)
rv2=poisson(mu= lambda_ort)
rv2=rv2.pmf(k=1)
rv3=poisson(mu= lambda_ort)
rv3=rv3.pmf(k=2)
print(1-(rv1+rv2+rv3))

0.9999972433736662

 NORMAL DAĞILIM :

In [ ]:
# En önemli olasılık dağılımı normal dağılımdır. Normal adğıldığı bilinen sürekli rassal değişkenler 
# için olasılık hesabında kullanılır. Sürekli olan bir olay üzerinden yapacağımız bir olasılık hesabıdır.
# Normal ortalama ile stnadart sapmayı topladığımız zaman olasılığın normal dağılımda rassal bir 
# şeklide artacağını hesap ederiz.

In [ ]:
# Ör : Bir toplantı öncesinde gelecek ay ile ilgili satışların belirli değerlerde gerçekleşmesi olasılığı belirlenmek istenir.
# Aylık ortalama satışımız 80 tl. standart sapmamız 2.5 tl diyelim. 
# satışlarımız her ay düzenli olarak artmaktadır.
# Aylık 90 tl den fazla satış yapma olasılığımız nedir? 
# Burda satışlarımız düzenli olarak artmaktadır cümlesi bunun bir normal dağılım olduğunu gösterir.
# O zaman 80+2.5=82.5 tl. yani bu değer bizim standart sapmayı eklediğimizde ortalama elde edeceğimiz değere yakın olur.
# 90 tl üzerinde satış yapma olasılığımız düşer. 80-82.5 arası yapma olasılığımız yüksektir.

In [ ]:
# Fomulu : (1/(standart_sapma * (2* 3.14**0.5)) * ((2.71**(0.5*((istenen_değer-ortalama)/standart_sapma)

In [6]:
from scipy.stats import norm

In [7]:
# 90 dan fazla olma olasılığı 
1-norm.cdf(90,80,5)

0.02275013194817921

In [8]:
# 70 den fazla olma olasılığı
1-norm.cdf(70,80,5)

0.9772498680518208

In [9]:
# 73 den az olması
norm.cdf(73,80,5)

0.08075665923377107

In [10]:
# 85 ile 90 arasında olması : 
norm.cdf(90,80,5)-norm.cdf(85,80,5)

0.13590512198327787