In [1]:
import sqlite3  # pythona sql import ettik. Sql kodlarını pythonda yazmak için.

In [2]:
connection=sqlite3.connect("Urun_Listesi.db") # Connection ile python ile sql bağlantı oluşturduk. 
# sqlite3.connect ile Urun_Listesi.db isimli bir databaseyi sqlite3 içine oluşturduk

In [3]:
cursor=connection.cursor() # tanımladığımız connectionu cursor ile bağlan talimatını başlattık.

In [4]:
def create_table():
    cursor.execute("CREATE TABLE IF NOT EXISTS products (ad TEXT,fiyat INT,stok INT)") # cursor.execute ile data içinde tablo oluşturduk.
    # CREATE TABLE IF NOT EXISTS products (ad TEXT,fiyat INT,stok INT) sql dilinde oluşturulan databaseye tablo eklemek için kullanılır.
    connection.commit() # commit ile sqlite3 e oluştur talimatını verdik.

In [ ]:
create_table() # bu kodu çalıştırıp yeni databasemizdeki tablolar eklenir.

In [ ]:
# Maalesef çoğu firma bu yöntemle klavye girişi ile veri eklemesi yapıyor. Onun için bu şekilde yazdım.
def veri_ekle():
    name=input("eklemek istediğiniz ürünü giriniz= ")
    fiyat=int(input("ürünün fiyatını giriniz= "))
    stok=int(input("üründen kaç adet var giriniz= "))
    cursor.execute("INSERT INTO products VALUES(?,?,?)",(name,fiyat,stok)) # cursor execute ile komut satırı çalıştırılır.
    # INSERT INTO products VALUES() ile tabloya verileri ekleriz. Parantez içine yazdığımız veriler eklenir.
    # ? işaretleri girilen input değerlerin yerini tutar.
    connection.commit() # her yeni sorgu işlemi sonucu sonucunda pythondan yapıyorsanız commit() demeyi unutmayın.

In [ ]:
veri_ekle() # bu kodu çalıştırıp tablolarımıza veriler eklenir.

In [ ]:
# Normal sqlite3 üzerinden yapılan ekleme işlemi
def veri_ekle2():
    cursor.execute("INSERT INTO products VALUES(Vestel,1100,22")
    connection.commit()

In [ ]:
veri_ekle2()

In [ ]:
def urun_listele():
    cursor.execute("SELECT * FROM products") 
    # SELECT * FROM products ile tablodaki tüm kolonlar listelenir.
    liste=cursor.fetchall()
    for i in liste:
        print(f"Ürün adı={i[0]}, ürün fiyatı={i[1]}, ürün adeti={i[2]}") # for yerine while da kullanılabilir.

In [ ]:
urun_listele()

In [ ]:
def urun_listele2():
    cursor.execute("SELECT ad,fiyat FROM products")
    # SELECT ad,fiyat FROM products İLE DE sadece ad ve fiyat kolonları listelenir.
    liste=cursor.fetchall()
    for i in liste:
        print(f"ürün adı={i[0]}, ürünün fiyatı={i[1]}")

In [ ]:
urun_listele2()

In [ ]:
def urun_filter():
    cursor.execute("SELECT * FROM products WHERE ad = 'Apple'")
    # SELECT * FROM products WHERE ad = 'Apple' İLE sadece adı Apple olan ürünlerin bilgilerini getirir.
    liste=cursor.fetchall()
    for i in liste:
        print(f"ürün adı={i[0]}, ürünün fiyatı={i[1]}, ürün adeti={i[2]}")

In [ ]:
urun_filter()

In [ ]:
def urunad_guncelle():
    cursor.execute("UPDATE products SET ad='Xaomi-Mi6s' WHERE ad='Xaiomi' ")
    # UPDATE products SET ad='Xaomi-Mi6s' WHERE ad='Xaiomi' İLE ad kısmında set ettiğiniz değer where ile gösterdiğiniz değerin yerine geçer.
    liste=cursor.fetchall()
    for i in liste:
        print(f"ürün adı={i[0]}, ürünün fiyatı={i[1]}, ürün adeti={i[2]}")
    connection.commit()

In [ ]:
urunad_guncelle()

In [ ]:
# Bu ise klavye ile güncelleme. Maalesef çoğu firma bu yöntemle güncelleme yapıyor. Biraz zor.

def urunad_guncelle2():
    db_ad=input("Hangi ürünü güncellemek istersiniz = ")
    update_ad=input("Ürünün yeni adını yazınız= ")
    cursor.execute("UPDATE products SET ad = ? WHERE ad = ?",(update_ad,db_ad)) 
    # ? bizim inputlarımızın aldığı değeri tutması için. Girdiğimz değerler SET ve WHERE ile tanımladğımız ürünün ad kısmını güncellemesi için.
    connection.commit()

In [ ]:
urunad_guncelle2()

In [ ]:
def urun_delete():
    delete_ad=input("Silmek istediğiniz ürün adını giriniz = ")
    cursor.execute("DELETE FROM products WHERE ad = ?",(delete_ad,))
    # Burda da ? yine verdiğimiz input değerlerin yerini tutması için. Yani girdiğimiz ad değeri silmesi için
    # DELETE FROM products WHERE ad = 'a' ile  a isimli ürünü listeden sileriz. Genelde silme işlemlri ıd no ile yapılır.
    connection.commit()