In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [18]:
df = pd.read_csv("Advertising.csv")
df = df.iloc[:,1:len(df)]
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [19]:
y= df[["sales"]]
x = df.drop("sales",axis=1)

In [4]:
x.head()

      TV  radio  newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [7]:
y.head()

   sales
0   22.1
1   10.4
2    9.3
3   18.5
4   12.9

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
lnr = LinearRegression()

In [10]:
model = lnr.fit(x,y)

In [11]:
from sklearn.metrics import mean_squared_error

In [12]:
 mean_squared_error(y,model.predict(x))

2.7841263145109365

In [15]:
MSE =  mean_squared_error(y,model.predict(x))

In [13]:
yeni_fiyat = [[15],[25],[35]]
yeni_fiyat = pd.DataFrame(yeni_fiyat).T
model.predict(yeni_fiyat)

array([[8.30229722]])

In [16]:
np.sqrt(MSE)
# hata kare karekökü.

1.66857014072257

In [17]:
# sımana seti : burda bağımsız ve bağımlı değişkenlerimiz sınama amacıyla 2 kısma ayıracağız. test ve train kısmı.
from sklearn.model_selection import train_test_split

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size= 0.20, random_state=10)
# %20 si test kısmında, % 80 i ise train kısmında kaldı.

In [21]:
model_train = lnr.fit(x_train,y_train)

In [27]:
y_train_tahmin= model_train.predict(x_train)

In [30]:
np.sqrt(mean_squared_error(y_train,y_train_tahmin))

1.6811049340084163

In [31]:
model_test = lnr.fit(x_test, y_test)

In [32]:
y_test_tahmin = model_test.predict(x_test)

In [33]:
np.sqrt(mean_squared_error(y_test,y_test_tahmin))

1.3556102211281902

In [34]:
# score ile yapalım :
# k katlı cv olarak adlandırılır. bu yöntem sınama seti yaklaşımında en sağlam yoldur. bu yöntem tavsiye edilir.
from sklearn.model_selection import cross_val_score

In [36]:
cross_val_score(model_train,x_train,y_train,cv=10, scoring="neg_mean_squared_error")
# 10 tane hata kare değeri verdi. şimdi bunların ortalamalarını alalm.

array([-3.9153908 , -1.83715885, -7.51607667, -1.63112888, -1.71700719,
       -2.98436047, -3.82045113, -2.34963501, -1.94655109, -2.503315  ])

In [37]:
hata_kare = cross_val_score(model_train,x_train,y_train,cv=10, scoring="neg_mean_squared_error")

In [38]:
hata_kare.mean()
# sonuç eksi çıkarsa -1 ile çarpın.

-3.0221075089068323

In [39]:
MSE = hata_kare.mean()*-1
MSE

3.0221075089068323

In [40]:
# şimdi hata_kare_ortalaması aldıktan sonra hata_kare karekökünü alalım.
RMSE = MSE**0.5
RMSE

1.7384209814963787

In [41]:
# cross validation bize en sağlam verileri verir.

In [44]:
# şimdi de test için yapalım. 
np.sqrt(-1*np.mean(cross_val_score(model_test,x_test,y_test,cv=10, scoring="neg_mean_squared_error")))

1.5740120417155194

In [ ]:
# elinizde ki veri büyükse train ve test olarak 2 ye bölüp yapmanız çok faydalı olacaktır.